doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Project Airhorn
    style
      include ./docs/styles.css
    link(rel='stylesheet', href='styles.css')
    link(ref='prefetch', href='media/loading.gif')
    script(src='js/index.js')
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-108949745-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-10 8949745-1');
  body
    header.header.l-left-column
      img.header__logo(src="media/dls-hover.gif")
      .header__credits <a href="https://github.com/lukasziegler/airhorn" target="_blank">made with love</a> in Salzburg<br>by your team

    main.content.l-right-column
      .press-me
        img.press-me__image(src='media/click-400px.gif' srcset='media/click-400px.gif 400w, media/click.gif 963w')

      article.cards
        .card(onclick="start(1)")
          .card__giphy.card__giphy--cover
            img.card__giphy-gif(src="media/airhorn/image.gif")
          .card__overlay
            .card__overlay-title Airhorn

        .card(onclick="start(2)")
          .card__giphy.card__giphy--cover
            img.card__giphy-gif(src="media/form-follows-function/image.gif")
          .card__overlay
            .card__overlay-title Form Follows Function

        .card(onclick="start(3)")
          .card__giphy
            img.card__giphy-gif(src="media/fuck-off/image.gif")
          .card__overlay
            .card__overlay-title Fuck OFF

        .card(onclick="start(4)")
          .card__giphy.card__giphy--cover
            img.card__giphy-gif(src="media/present-your-design/image.gif")
          .card__overlay
            .card__overlay-title Present your design

        .card(onclick="start(5)")
          .card__giphy.card__giphy--center-vertical
            img.card__giphy-gif(src="media/say-whaaat/image.gif")
          .card__overlay
            .card__overlay-title Say Whaaat

        .card(onclick="start(16)")
          .card__giphy.card__giphy--cover
            img.card__giphy-gif(src="media/when-someone-farts-in-the-office/image.gif")
          .card__overlay
            .card__overlay-title When someone farts in the office

        .card(onclick="start(6)")
          .card__giphy.card__giphy--center-horizontal
            img.card__giphy-gif(src="media/want-a-beer/image.gif")
          .card__overlay
            .card__overlay-title Want a beer?

        .card(onclick="start(11)")
          .card__giphy.card__giphy--cover
            img.card__giphy-gif(src="media/because-i-can/image.gif")
          .card__overlay
            .card__overlay-title Because I Can

        .card(onclick="start(7)")
          .card__giphy.card__giphy--cover
            img.card__giphy-gif(src="media/when-you-open-your-suitcase/image.gif")
          .card__overlay
            .card__overlay-title When you open your suitcase

        .card(onclick="start(12)")
          .card__giphy
            img.card__giphy-gif(src="media/manager-request/image.gif")
          .card__overlay
            .card__overlay-title Manager Request

        .card(onclick="start(10)")
          .card__giphy
            img.card__giphy-gif(src="media/manager-fail/image.gif")
          .card__overlay
            .card__overlay-title Manager Fail

        .card(onclick="start(13)")
          .card__giphy
            img.card__giphy-gif(src="media/manager-douchebag/image.gif")
          .card__overlay
            .card__overlay-title Manager Douchebag

        .card(onclick="start(9)")
          .card__giphy
            img.card__giphy-gif(src="media/you-up/image.gif")
          .card__overlay
            .card__overlay-title You up?

        .card(onclick="start(8)")
          .card__giphy.card__giphy--cover
            img.card__giphy-gif(src="media/you-got-mail/image.gif")
          .card__overlay
            .card__overlay-title You got mail

        .card(onclick="start(15)")
          .card__giphy.card__giphy--cover
            img.card__giphy-gif(src="media/stakeholder-feedback/image.gif")
          .card__overlay
            .card__overlay-title Stakeholder Feedback

        .card(onclick="start(14)")
          .card__giphy
            img.card__giphy-gif(src="media/lean-organisation/image.gif")
          .card__overlay
            .card__overlay-title Lean Organisation

        .card(onclick="start(36)")
          .card__giphy.card__giphy--cover
            img.card__giphy-gif(src="media/rebranding/image.gif")
          .card__overlay
            .card__overlay-title Rebranding

        .card(onclick="start(17)")
          .card__giphy
            img.card__giphy-gif(src="media/shut-up-bt5/image.gif")
          .card__overlay
            .card__overlay-title Shut up BT5. SHUT UP!

        .card(onclick="start(18)")
          .card__giphy.card__giphy--cover
            img.card__giphy-gif(src="media/meoww/image.gif")
          .card__overlay
            .card__overlay-title Meowww

        .card(onclick="start(19)")
          .card__giphy
            img.card__giphy-gif(src="media/breath-girl-breath/image.gif")
          .card__overlay
            .card__overlay-title Breath girl breath

        .card(onclick="start(20)")
          .card__giphy.card__giphy--cover
            img.card__giphy-gif(src="media/please-change-the-color/image.gif")
          .card__overlay
            .card__overlay-title Please change the color

        .card(onclick="start(21)")
          .card__giphy
            img.card__giphy-gif(src="media/manager-feedback/image.gif")
          .card__overlay
            .card__overlay-title Manager Feedback

        .card(onclick="start(22)")
          .card__giphy
            img.card__giphy-gif(src="media/monday-morning-love/image.gif")
          .card__overlay
            .card__overlay-title Monday Morning Love

        .card(onclick="start(42)")
          .card__giphy.card__giphy--cover
            img.card__giphy-gif(src="media/just-here-to-ride-bikes/image.gif")
          .card__overlay
            .card__overlay-title No man. I'm just here to ride bikes

        .card(onclick="start(24)")
          .card__giphy.card__giphy--cover
            img.card__giphy-gif(src="media/how-to-ruin-my-day/image.gif")
          .card__overlay
            .card__overlay-title How to ruin my day

        .card(onclick="start(25)")
          .card__giphy.card__giphy--cover
            img.card__giphy-gif(src="media/spread-some-can-love/image.gif")
          .card__overlay
            .card__overlay-title Spread Some Can Love

        .card(onclick="start(26)")
          .card__giphy
            img.card__giphy-gif(src="media/radio-check/image.gif")
          .card__overlay
            .card__overlay-title Radio-Check

        .card(onclick="start(27)")
          .card__giphy
            img.card__giphy-gif(src="media/did-you-use-h3-and-not-h4/image.gif")
          .card__overlay
            .card__overlay-title Did you use h3 and not h4?

        .card(onclick="start(43)")
          .card__giphy
            img.card__giphy-gif(src="media/keynote/image.gif")
          .card__overlay
            .card__overlay-title Hey Philipp, ...

        .card(onclick="start(29)")
          .card__giphy
            img.card__giphy-gif(src="media/lunch/image.gif")
          .card__overlay
            .card__overlay-title Lunch?

        .card(onclick="start(28)")
          .card__giphy
            img.card__giphy-gif(src="media/may-the-force-be-with-you/image.gif")
          .card__overlay
            .card__overlay-title May the force be with you

        .card(onclick="start(31)")
          .card__giphy
            img.card__giphy-gif(src="media/i-like-it-dirty/image.gif")
          .card__overlay
            .card__overlay-title I like it dirty

        .card(onclick="start(32)")
          .card__giphy
            img.card__giphy-gif(src="media/wait-for-it/image.gif")
          .card__overlay
            .card__overlay-title Wait for it...

        .card(onclick="start(33)")
          .card__giphy.card__giphy--cover
            img.card__giphy-gif(src="media/who-is-the-daddy/image.gif")
          .card__overlay
            .card__overlay-title Who is the daddy?

        .card(onclick="start(35)")
          .card__giphy
            img.card__giphy-gif(src="media/when-people-dont-get-it/image.gif")
          .card__overlay
            .card__overlay-title When people don't get it

        .card(onclick="start(37)")
          .card__giphy
            img.card__giphy-gif(src="media/100-50-40-30/image.gif")
          .card__overlay
            .card__overlay-title 100-50-40-30

        .card(onclick="start(34)")
          .card__giphy
            img.card__giphy-gif(src="media/you-think-im-fat/image.gif")
          .card__overlay
            .card__overlay-title You think i'm fat

        .card(onclick="start(30)")
          .card__giphy
            img.card__giphy-gif(src="media/sneaky-bitch/image.gif")
          .card__overlay
            .card__overlay-title Sneaky Bitch

        .card(onclick="start(38)")
          .card__giphy
            img.card__giphy-gif(src="media/talking-about-sex-in-the-office/image.gif")
          .card__overlay
            .card__overlay-title Talking about sex in the office

        .card(onclick="start(39)")
          .card__giphy
            img.card__giphy-gif(src="media/what-girls-think-about-you/image.gif")
          .card__overlay
            .card__overlay-title What girls think about you

        .card(onclick="start(41)")
          .card__giphy.card__giphy--cover
            img.card__giphy-gif(src="media/when-you-ask-for-vegan-food-in-bullscorner/image.gif")
          .card__overlay
            .card__overlay-title When you ask for vegan food in Bulls Corner

        .card(onclick="start(40)")
          .card__giphy
            img.card__giphy-gif(src="media/servus/image.gif")
          .card__overlay
            .card__overlay-title Servus

        .card(onclick="start(44)")
          .card__giphy.card__giphy--cover
            img.card__giphy-gif(src="media/never-forget/image.gif")
          .card__overlay
            .card__overlay-title Never Forget

    .audio-samples
      audio(preload="auto")#1
        source(src="media/airhorn/sound.mp3")
      audio(preload="auto")#2
        source(src="media/form-follows-function/sound.mp3")
      audio(preload="auto")#3
        source(src="media/fuck-off/sound.mp3")
      audio(preload="auto")#4
        source(src="media/present-your-design/sound.mp3")
      audio(preload="auto")#5
        source(src="media/say-whaaat/sound.mp3")
      audio(preload="auto")#6
        source(src="media/want-a-beer/sound.mp3")
      audio(preload="auto")#7
        source(src="media/when-you-open-your-suitcase/sound.mp3")
      audio(preload="auto")#8
        source(src="media/you-got-mail/sound.mp3")
      audio(preload="auto")#9
        source(src="media/you-up/sound.mp3")
      audio(preload="auto")#10
        source(src="media/manager-fail/sound.mp3")
      audio(preload="auto")#11
        source(src="media/because-i-can/sound.mp3")
      audio(preload="auto")#12
        source(src="media/manager-request/sound.mp3")
      audio(preload="auto")#13
        source(src="media/manager-douchebag/sound.mp3")
      audio(preload="auto")#14
        source(src="media/lean-organisation/sound.mp3")
      audio(preload="auto")#15
        source(src="media/stakeholder-feedback/sound.mp3")
      audio(preload="auto")#16
        source(src="media/when-someone-farts-in-the-office/sound.mp3")
      audio(preload="auto")#17
        source(src="media/shut-up-bt5/sound.mp3")
      audio(preload="auto")#18
        source(src="media/meoww/sound.mp3")
      audio(preload="auto")#19
        source(src="media/breath-girl-breath/sound.mp3")
      audio(preload="auto")#20
        source(src="media/please-change-the-color/sound.mp3")
      audio(preload="auto")#21
        source(src="media/manager-feedback/sound.mp3")
      audio(preload="auto")#22
        source(src="media/monday-morning-love/sound.mp3")
      audio(preload="auto")#23
        source(src="media/wrap/sound.mp3")
      audio(preload="auto")#24
        source(src="media/how-to-ruin-my-day/sound.mp3")
      audio(preload="auto")#25
        source(src="media/spread-some-can-love/can-remix.mp3")
      audio(preload="auto")#26
        source(src="media/radio-check/sound.mp3")
      audio(preload="auto")#27
        source(src="media/did-you-use-h3-and-not-h4/sound.mp3")
      audio(preload="auto")#28
        source(src="media/may-the-force-be-with-you/its-stavros.mp3")
      audio(preload="auto")#29
        source(src="media/lunch/sound.mp3")
      audio(preload="auto")#30
        source(src="media/sneaky-bitch/sound.mp3")
      audio(preload="auto")#31
        source(src="media/i-like-it-dirty/sound.mp3")
      audio(preload="auto")#32
        source(src="media/wait-for-it/sound.mp3")
      audio(preload="auto")#33
        source(src="media/who-is-the-daddy/sound.mp3")
      audio(preload="auto")#34
        source(src="media/you-think-im-fat/sound.mp3")
      audio(preload="auto")#35
        source(src="media/when-people-dont-get-it/sound.mp3")
      audio(preload="auto")#36
        source(src="media/rebranding/sound.mp3")
      audio(preload="auto")#37
        source(src="media/100-50-40-30/sound.mp3")
      audio(preload="auto")#38
        source(src="media/talking-about-sex-in-the-office/danger-zone.mp3")
      audio(preload="auto")#39
        source(src="media/what-girls-think-about-you/sound.mp3")
      audio(preload="auto")#40
        source(src="media/servus/sound.mp3")
      audio(preload="auto")#41
        source(src="media/when-you-ask-for-vegan-food-in-bullscorner/sound.mp3")
      audio(preload="auto")#42
        source(src="media/just-here-to-ride-bikes/sound.mp3")
      audio(preload="auto")#43
        source(src="media/keynote/sound.mp3")
      audio(preload="auto")#44
        source(src="media/never-forget/sound.mp3")
