doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Project Airhorn
    link(rel='stylesheet', href='styles.css')
  body
    .header
      .profile
      .teaser
        .teaser__text Airhorn bla bla a
      span.credits airhorn credits ♥

    .content
      .card
      .card
      .card
      .card
      .card
      .card
      .card
      .card
      .card
      .card