doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Project Airhorn
    style
      include ./docs/styles.css
    link(rel='stylesheet', href='styles.css')
    script(src='js/index.js')
  body
    header.header.l-left-column
      img.header__logo(src="media/dls-hover.gif")
      .header__credits <a href="https://github.com/lukasziegler/airhorn" target="_blank">made with love</a> in Salzburg<br>by your team

    main.content.l-right-column
      .press-me
        img.press-me__image(src='media/click-400px.gif' srcset='media/click-400px.gif 400w, media/click.gif 963w')

      article.cards
        .card(onclick="play(1, 2000)")
          .card__giphy.card__giphy--cover
            img.card__giphy-gif(src="media/airhorn/image.gif")
          .card__overlay
            .card__overlay-title Airhorn

        .card(onclick="play(2, 2000)")
          .card__giphy.card__giphy--cover
            img.card__giphy-gif(src="media/form-follows-function/image.gif")
          .card__overlay
            .card__overlay-title Form Follows Function

        .card(onclick="play(3, 2850)")
          .card__giphy
            img.card__giphy-gif(src="media/fuck-off/image.gif")
          .card__overlay
            .card__overlay-title Fuck OFF

        .card(onclick="play(4, 2000)")
          .card__giphy.card__giphy--cover
            img.card__giphy-gif(src="media/present-your-design/image.gif")
          .card__overlay
            .card__overlay-title Present your design

        .card(onclick="play(5)")
          .card__giphy.card__giphy--center-vertical
            img.card__giphy-gif(src="media/say-whaaat/image.gif")
          .card__overlay
            .card__overlay-title Say Whaaat

        .card(onclick="play(16, 6000)")
          .card__giphy.card__giphy--cover
            img.card__giphy-gif(src="media/when-someone-farts-in-the-office/image.gif")
          .card__overlay
            .card__overlay-title When someone farts in the office

        .card(onclick="play(6, 4000)")
          .card__giphy.card__giphy--center-horizontal
            img.card__giphy-gif(src="media/want-a-beer/image.gif")
          .card__overlay
            .card__overlay-title Want a beer?

        .card(onclick="play(11, 3500)")
          .card__giphy.card__giphy--cover
            img.card__giphy-gif(src="media/because-i-can/image.gif")
          .card__overlay
            .card__overlay-title Because I Can

        .card(onclick="play(7, 6500)")
          .card__giphy.card__giphy--cover
            img.card__giphy-gif(src="media/when-you-open-your-suitcase/image.gif")
          .card__overlay
            .card__overlay-title When you open your suitcase

        .card(onclick="play(12, 4000)")
          .card__giphy
            img.card__giphy-gif(src="media/manager-request/image.gif")
          .card__overlay
            .card__overlay-title Manager Request

        .card(onclick="play(10, 4000)")
          .card__giphy
            img.card__giphy-gif(src="media/manager-fail/image.gif")
          .card__overlay
            .card__overlay-title Manager Fail

        .card(onclick="play(13, 2000)")
          .card__giphy
            img.card__giphy-gif(src="media/manager-douchebag/image.gif")
          .card__overlay
            .card__overlay-title Manager Douchebag

        .card(onclick="play(9, 2200)")
          .card__giphy
            img.card__giphy-gif(src="media/you-up/image.gif")
          .card__overlay
            .card__overlay-title You up?

        .card(onclick="play(8, 4500)")
          .card__giphy.card__giphy--cover
            img.card__giphy-gif(src="media/you-got-mail/image.gif")
          .card__overlay
            .card__overlay-title You got mail

        .card(onclick="play(15, 15000)")
          .card__giphy.card__giphy--cover
            img.card__giphy-gif(src="media/stakeholder-feedback/image.gif")
          .card__overlay
            .card__overlay-title Stakeholder Feedback

        .card(onclick="play(14, 4000)")
          .card__giphy
            img.card__giphy-gif(src="media/lean-organisation/image.gif")
          .card__overlay
            .card__overlay-title Lean Organisation

        .card(onclick="play(36, 10000)")
          .card__giphy.card__giphy--cover
            img.card__giphy-gif(src="media/rebranding/image.gif")
          .card__overlay
            .card__overlay-title Rebranding

        .card(onclick="play(17, 17000)")
          .card__giphy
            img.card__giphy-gif(src="media/shut-up-bt5/image.gif")
          .card__overlay
            .card__overlay-title Shut up BT5. SHUT UP!

        .card(onclick="play(18, 4000)")
          .card__giphy.card__giphy--cover
            img.card__giphy-gif(src="media/meoww/image.gif")
          .card__overlay
            .card__overlay-title Meowww

        .card(onclick="play(19, 8000)")
          .card__giphy
            img.card__giphy-gif(src="media/breath-girl-breath/image.gif")
          .card__overlay
            .card__overlay-title Breath girl breath

        .card(onclick="play(20, 3000)")
          .card__giphy.card__giphy--cover
            img.card__giphy-gif(src="media/please-change-the-color/image.gif")
          .card__overlay
            .card__overlay-title Please change the color

        .card(onclick="play(21, 4000)")
          .card__giphy
            img.card__giphy-gif(src="media/manager-feedback/image.gif")
          .card__overlay
            .card__overlay-title Manager Feedback

        .card(onclick="play(22, 2200)")
          .card__giphy
            img.card__giphy-gif(src="media/monday-morning-love/image.gif")
          .card__overlay
            .card__overlay-title Monday Morning Love

        .card(onclick="play(23, 3100)")
          .card__giphy.card__giphy--cover
            img.card__giphy-gif(src="media/wrap/image.gif")
          .card__overlay
            .card__overlay-title Wrap your tools

        .card(onclick="play(24, 3000)")
          .card__giphy.card__giphy--cover
            img.card__giphy-gif(src="media/how-to-ruin-my-day/image.gif")
          .card__overlay
            .card__overlay-title How to ruin my day

        .card(onclick="play(25, 5000)")
          .card__giphy.card__giphy--cover
            img.card__giphy-gif(src="media/spread-some-can-love/image.gif")
          .card__overlay
            .card__overlay-title Spread Some Can Love

        .card(onclick="play(26, 4200)")
          .card__giphy
            img.card__giphy-gif(src="media/radio-check/image.gif")
          .card__overlay
            .card__overlay-title Radio-Check

        .card(onclick="play(27, 2200)")
          .card__giphy
            img.card__giphy-gif(src="media/did-you-use-h3-and-not-h4/image.gif")
          .card__overlay
            .card__overlay-title Did you use h3 and not h4?

        .card(onclick="play(28, 4000)")
          .card__giphy
            img.card__giphy-gif(src="media/may-the-force-be-with-you/image.gif")
          .card__overlay
            .card__overlay-title May the force be with you

        .card(onclick="play(29, 5000)")
          .card__giphy
            img.card__giphy-gif(src="media/lunch/image.gif")
          .card__overlay
            .card__overlay-title Lunch?

        .card(onclick="play(30, 2000)")
          .card__giphy
            img.card__giphy-gif(src="media/sneaky-bitch/image.gif")
          .card__overlay
            .card__overlay-title Sneaky Bitch

        .card(onclick="play(31, 2200)")
          .card__giphy
            img.card__giphy-gif(src="media/i-like-it-dirty/image.gif")
          .card__overlay
            .card__overlay-title I like it dirty

        .card(onclick="play(32, 2700)")
          .card__giphy
            img.card__giphy-gif(src="media/wait-for-it/image.gif")
          .card__overlay
            .card__overlay-title Wait for it...

        .card(onclick="play(33, 3400)")
          .card__giphy.card__giphy--cover
            img.card__giphy-gif(src="media/who-is-the-daddy/image.gif")
          .card__overlay
            .card__overlay-title Who is the daddy?

        .card(onclick="play(34, 1800)")
          .card__giphy
            img.card__giphy-gif(src="media/you-think-im-fat/image.gif")
          .card__overlay
            .card__overlay-title You think i'm fat

        .card(onclick="play(35, 3300)")
          .card__giphy
            img.card__giphy-gif(src="media/when-people-dont-get-it/image.gif")
          .card__overlay
            .card__overlay-title When people don't get it

    .audio-samples
      audio(preload="auto")#1
        source(src="media/airhorn/sound.mp3")
      audio(preload="auto")#2
        source(src="media/form-follows-function/sound.mp3")
      audio(preload="auto")#3
        source(src="media/fuck-off/sound.mp3")
      audio(preload="auto")#4
        source(src="media/present-your-design/sound.mp3")
      audio(preload="auto")#5
        source(src="media/say-whaaat/sound.mp3")
      audio(preload="auto")#6
        source(src="media/want-a-beer/sound.mp3")
      audio(preload="auto")#7
        source(src="media/when-you-open-your-suitcase/sound.mp3")
      audio(preload="auto")#8
        source(src="media/you-got-mail/sound.mp3")
      audio(preload="auto")#9
        source(src="media/you-up/sound.mp3")
      audio(preload="auto")#10
        source(src="media/manager-fail/sound.mp3")
      audio(preload="auto")#11
        source(src="media/because-i-can/sound.mp3")
      audio(preload="auto")#12
        source(src="media/manager-request/sound.mp3")
      audio(preload="auto")#13
        source(src="media/manager-douchebag/sound.mp3")
      audio(preload="auto")#14
        source(src="media/lean-organisation/sound.mp3")
      audio(preload="auto")#15
        source(src="media/stakeholder-feedback/sound.mp3")
      audio(preload="auto")#16
        source(src="media/when-someone-farts-in-the-office/sound.mp3")
      audio(preload="auto")#17
        source(src="media/shut-up-bt5/sound.mp3")
      audio(preload="auto")#18
        source(src="media/meoww/sound.mp3")
      audio(preload="auto")#19
        source(src="media/breath-girl-breath/sound.mp3")
      audio(preload="auto")#20
        source(src="media/please-change-the-color/sound.mp3")
      audio(preload="auto")#21
        source(src="media/manager-feedback/sound.mp3")
      audio(preload="auto")#22
        source(src="media/monday-morning-love/sound.mp3")
      audio(preload="auto")#23
        source(src="media/wrap/sound.mp3")
      audio(preload="auto")#24
        source(src="media/how-to-ruin-my-day/sound.mp3")
      audio(preload="auto")#25
        source(src="media/spread-some-can-love/can-remix.mp3")
      audio(preload="auto")#26
        source(src="media/radio-check/sound.mp3")
      audio(preload="auto")#27
        source(src="media/did-you-use-h3-and-not-h4/sound.mp3")
      audio(preload="auto")#28
        source(src="media/may-the-force-be-with-you/its-stavros.mp3")
      audio(preload="auto")#29
        source(src="media/lunch/sound.mp3")
      audio(preload="auto")#30
        source(src="media/sneaky-bitch/sound.mp3")
      audio(preload="auto")#31
        source(src="media/i-like-it-dirty/sound.mp3")
      audio(preload="auto")#32
        source(src="media/wait-for-it/sound.mp3")
      audio(preload="auto")#33
        source(src="media/who-is-the-daddy/sound.mp3")
      audio(preload="auto")#34
        source(src="media/you-think-im-fat/sound.mp3")
      audio(preload="auto")#35
        source(src="media/when-people-dont-get-it/sound.mp3")
      audio(preload="auto")#36
        source(src="media/rebranding/sound.mp3")

    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-108949745-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-108949745-1');