doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Project Airhorn
    style
      include ../docs/styles.css
    link(rel='stylesheet', href='styles.css')
    link(ref='prefetch', href='media/loading.gif')
    script(src='js/index.js')
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-108949745-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-108949745-1');
  body
    header.header.l-left-column
      img.header__logo(src="media/dls-hover.gif")
      .header__credits <a href="https://github.com/lukasziegler/airhorn" target="_blank">made with love</a> in Salzburg<br>by your team

    main.content.l-right-column
      .press-me
        img.press-me__image(src='media/click-400px.gif' srcset='media/click-400px.gif 400w, media/click.gif 963w')

      article.cards

        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/airhorn/giphy.mp4" type="video/mp4")
            audio
              source(src="media/airhorn/sound.mp3")
          .card__overlay
            .card__overlay-title Airhorn

        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/form-follows-function/giphy.mp4" type="video/mp4")
            audio
              source(src="media/form-follows-function/sound.mp3")
          .card__overlay
            .card__overlay-title Form Follows Function

        .card(onclick="start(event)")
          .card__giphy
            video.card__giphy-gif(loop playsinline)
              source(src="media/fuck-off/giphy.mp4" type="video/mp4")
            audio
              source(src="media/fuck-off/sound.mp3")
          .card__overlay
            .card__overlay-title Fuck OFF

        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/present-your-design/giphy.mp4" type="video/mp4")
            audio
              source(src="media/present-your-design/sound.mp3")
          .card__overlay
            .card__overlay-title Present your design

        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/say-whaaat/giphy.mp4" type="video/mp4")
            audio
              source(src="media/say-whaaat/sound.mp3")
          .card__overlay
            .card__overlay-title Say Whaaat

        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/when-someone-farts-in-the-office/giphy.mp4" type="video/mp4")
            audio
              source(src="media/when-someone-farts-in-the-office/sound.mp3")
          .card__overlay
            .card__overlay-title When someone farts in the office

        .card(onclick="start(event)")
          .card__giphy.card__giphy--center-horizontal
            video.card__giphy-gif(loop playsinline)
              source(src="media/want-a-beer/giphy.mp4" type="video/mp4")
            audio
              source(src="media/want-a-beer/sound.mp3")
          .card__overlay
            .card__overlay-title Want a beer?

        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/because-i-can/giphy.mp4" type="video/mp4")
            audio
              source(src="media/because-i-can/sound.mp3")
          .card__overlay
            .card__overlay-title Because I Can

        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/when-you-open-your-suitcase/giphy.mp4" type="video/mp4")
            audio
              source(src="media/when-you-open-your-suitcase/sound.mp3")
          .card__overlay
            .card__overlay-title When you open your suitcase

        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/manager-request/giphy.mp4" type="video/mp4")
            audio#12
              source(src="media/manager-request/sound.mp3")
          .card__overlay
            .card__overlay-title Manager Request

        .card(onclick="start(event)")
          .card__giphy
            video.card__giphy-gif(loop playsinline)
              source(src="media/manager-fail/giphy.mp4" type="video/mp4")
            audio
              source(src="media/manager-fail/sound.mp3")
          .card__overlay
            .card__overlay-title Manager Fail

        .card(onclick="start(event)")
          .card__giphy
            video.card__giphy-gif(loop playsinline)
              source(src="media/manager-douchebag/giphy.mp4" type="video/mp4")
            audio
              source(src="media/manager-douchebag/sound.mp3")
          .card__overlay
            .card__overlay-title Manager Douchebag

        .card(onclick="start(event)")
          .card__giphy
            video.card__giphy-gif(loop playsinline)
              source(src="media/you-up/giphy.mp4" type="video/mp4")
            audio
              source(src="media/you-up/sound.mp3")
          .card__overlay
            .card__overlay-title You up?

        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/you-got-mail/giphy.mp4" type="video/mp4")
            audio
              source(src="media/you-got-mail/sound.mp3")
          .card__overlay
            .card__overlay-title You got mail

        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/stakeholder-feedback/giphy.mp4" type="video/mp4")
            audio
              source(src="media/stakeholder-feedback/sound.mp3")
          .card__overlay
            .card__overlay-title Stakeholder Feedback

        .card(onclick="start(event)")
          .card__giphy
            video.card__giphy-gif(loop playsinline)
              source(src="media/lean-organisation/giphy.mp4" type="video/mp4")
            audio
              source(src="media/lean-organisation/sound.mp3")
          .card__overlay
            .card__overlay-title Lean Organisation

        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/rebranding/giphy.mp4" type="video/mp4")
            audio
              source(src="media/rebranding/sound.mp3")
          .card__overlay
            .card__overlay-title Rebranding

        .card(onclick="start(event)")
          .card__giphy
            video.card__giphy-gif(loop playsinline)
              source(src="media/shut-up-bt5/giphy.mp4" type="video/mp4")
            audio
              source(src="media/shut-up-bt5/sound.mp3")
          .card__overlay
            .card__overlay-title Shut up BT5. SHUT UP!

        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/meoww/giphy.mp4" type="video/mp4")
            audio
              source(src="media/meoww/sound.mp3")
          .card__overlay
            .card__overlay-title Meowww

        .card(onclick="start(event)")
          .card__giphy
            video.card__giphy-gif(loop playsinline)
              source(src="media/breath-girl-breath/giphy.mp4" type="video/mp4")
            audio
              source(src="media/breath-girl-breath/sound.mp3")
          .card__overlay
            .card__overlay-title Breath girl breath

        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/please-change-the-color/giphy.mp4" type="video/mp4")
            audio
              source(src="media/please-change-the-color/sound.mp3")
          .card__overlay
            .card__overlay-title Please change the color

        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/manager-feedback/giphy.mp4" type="video/mp4")
            audio#21
              source(src="media/manager-feedback/sound.mp3")
          .card__overlay
            .card__overlay-title Manager Feedback

        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/monday-morning-love/giphy.mp4" type="video/mp4")
            audio
              source(src="media/monday-morning-love/sound.mp3")
          .card__overlay
            .card__overlay-title Monday Morning Love

        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/just-here-to-ride-bikes/giphy.mp4" type="video/mp4")
            audio
              source(src="media/just-here-to-ride-bikes/sound.mp3")
          .card__overlay
            .card__overlay-title No man. I'm just here to ride bikes

        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/how-to-ruin-my-day/giphy.mp4" type="video/mp4")
            audio
              source(src="media/how-to-ruin-my-day/sound.mp3")
          .card__overlay
            .card__overlay-title How to ruin my day

        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/spread-some-can-love/giphy.mp4" type="video/mp4")
            audio
              source(src="media/spread-some-can-love/sound.mp3")
          .card__overlay
            .card__overlay-title Spread Some Can Love

        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/radio-check/giphy.mp4" type="video/mp4")
            audio
              source(src="media/radio-check/sound.mp3")
          .card__overlay
            .card__overlay-title Radio-Check

        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/did-you-use-h3-and-not-h4/giphy.mp4" type="video/mp4")
            audio
              source(src="media/did-you-use-h3-and-not-h4/sound.mp3")
          .card__overlay
            .card__overlay-title Did you use h3 and not h4?

        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/keynote/giphy.mp4" type="video/mp4")
            audio
              source(src="media/keynote/sound.mp3")
          .card__overlay
            .card__overlay-title Hey Philipp, ...

        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/lunch/giphy.mp4" type="video/mp4")
            audio
              source(src="media/lunch/sound.mp3")
          .card__overlay
            .card__overlay-title Lunch?

        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/may-the-force-be-with-you/giphy.mp4" type="video/mp4")
            audio
              source(src="media/may-the-force-be-with-you/its-stavros.mp3")
          .card__overlay
            .card__overlay-title May the force be with you

        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/i-like-it-dirty/giphy.mp4" type="video/mp4")
            audio
              source(src="media/i-like-it-dirty/sound.mp3")
          .card__overlay
            .card__overlay-title I like it dirty

        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/wait-for-it/giphy.mp4" type="video/mp4")
            audio
              source(src="media/wait-for-it/sound.mp3")
          .card__overlay
            .card__overlay-title Wait for it...

        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/who-is-the-daddy/giphy.mp4" type="video/mp4")
            audio
              source(src="media/who-is-the-daddy/sound.mp3")
          .card__overlay
            .card__overlay-title Who is the daddy?

        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/when-people-dont-get-it/giphy.mp4" type="video/mp4")
            audio
              source(src="media/when-people-dont-get-it/sound.mp3")
          .card__overlay
            .card__overlay-title When people don't get it

        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/100-50-40-30/giphy.mp4" type="video/mp4")
            audio
              source(src="media/100-50-40-30/sound.mp3")
          .card__overlay
            .card__overlay-title 100-50-40-30

        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/you-think-im-fat/giphy.mp4" type="video/mp4")
            audio
              source(src="media/you-think-im-fat/sound.mp3")
          .card__overlay
            .card__overlay-title You think i'm fat

        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/sneaky-bitch/giphy.mp4" type="video/mp4")
            audio
              source(src="media/sneaky-bitch/sound.mp3")
          .card__overlay
            .card__overlay-title Sneaky Bitch

        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/talking-about-sex-in-the-office/giphy.mp4" type="video/mp4")
            audio
              source(src="media/talking-about-sex-in-the-office/danger-zone.mp3")
          .card__overlay
            .card__overlay-title Talking about sex in the office

        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/what-girls-think-about-you/giphy.mp4" type="video/mp4")
            audio
              source(src="media/what-girls-think-about-you/sound.mp3")
          .card__overlay
            .card__overlay-title What girls think about you

        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/when-you-ask-for-vegan-food-in-bullscorner/giphy.mp4" type="video/mp4")
            audio
              source(src="media/when-you-ask-for-vegan-food-in-bullscorner/sound.mp3")
          .card__overlay
            .card__overlay-title When you ask for vegan food in Bulls Corner

        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/servus/giphy.mp4" type="video/mp4")
            audio
              source(src="media/servus/sound.mp3")
          .card__overlay
            .card__overlay-title Servus

        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/never-forget/giphy.mp4" type="video/mp4")
            audio
              source(src="media/never-forget/sound.mp3")
          .card__overlay
            .card__overlay-title Never Forget

    .audio-samples
      audio#23
        source(src="media/wrap/sound.mp3")
