@font-face
  font-family 'BestFontEver'
  font-weight normal
  font-style normal
  src url('fonts/VT323-Regular.woff') format('woff'), url('fonts/VT323-Regular.ttf') format('truetype')

body
  font-family BestFontEver,'Helvetica Neue',Helvetica,Arial,sans-serif
  -webkit-overflow-scrolling touch

p
  font-weight 300

a
  &
  &:visited
  &:hover
  &:focus
  &:active
    color sharkGrey
    font-weight 700
    text-decoration none
  &:hover
    text-decoration underline

// layout
body
  display block
  +above('desktop')
    display flex