
body
  font-family BestFontEver,'Helvetica Neue',Helvetica,Arial,sans-serif
  -webkit-overflow-scrolling touch

p
  font-weight 300

a
  &
  &:visited
  &:hover
  &:focus
  &:active
    color white
    font-weight normal
    text-decoration none
  &:hover
    text-decoration underline

body
  display block
  +above('desktop')
    display flex