.card
  position relative
  background-color white
  border 3px solid red
  cursor pointer
  overflow hidden

  // card sizing
  cardSize(280)
  +above('tablet')
    cardSize(240)
  +above('desktop')
    cardSize(240)
  +above('desktop+')
    cardSize(240)

  // card padding
  margin 8px

  &__overlay
    position absolute
    top 0
    left 0
    bottom 0
    right 0
    display flex
    justify-content center
    align-items center
    background-color white
    padding 0 12px

    &-title
      color red
      text-transform uppercase
      text-align center
      font-size 32px
      font-weight normal
      line-height 1.2

  &__giphy
    pointer-events none
    overflow hidden
    display flex
    align-items center
    justify-content center
    height 100%

    &--center-vertical
      object-fit scale-down
      object-position center
      display flex
      justify-content center
      & ^[0..1]-gif
         max-width initial

    &--cover
      & ^[0..1]-gif
        height 100%
        width 100%
        object-fit cover

    &--iframe
      display flex
      align-items center
      justify-content center

    &-gif
      height 100%
      max-width 100%
      max-height 100%

  &--show-giphy
    & .card__overlay
      display none
