.cards
  display flex
  flex-wrap wrap
  flex-direction row
  justify-content center

.card
  position relative
  background-color white
  border 3px solid red
  cursor pointer
  overflow hidden

  // card sizing
  cardSize(280)
  +above('tablet')
    cardSize(240)
  +above('desktop')
    cardSize(240)
  +above('desktop+')
    cardSize(240)

  // card padding
  margin 8px

  &__overlay
    position absolute
    top 0
    left 0
    bottom 0
    right 0
    display flex
    justify-content center
    align-items center
    background-color white
    padding 0 12px

    &-title
      color red
      text-transform uppercase
      text-align center
      font-size 28px
      font-weight 800
      line-height 1.2

  &__giphy
    pointer-events none
    overflow hidden

  &--show-giphy
    & .card__overlay
      display none
