.content
  padding 0
  display flex
  flex-direction column

.press-me
  display flex
  justify-content center
  padding 28px 0 20px 0
  width 100%
  height 45px
  +above('tablet')
    height 60px
  +above('desktop')
    height 100px

  &__image
    display block
    width auto
    height 100%
    +above('desktop')
      width 400px
      height 75px

.cards
  display flex
  flex-wrap wrap
  flex-direction row
  justify-content center
  height 100%