.content
  padding 0 smallPadding
  display flex
  flex-wrap wrap
  flex-direction row
  justify-content center
  +above('desktop')
    padding 0
    rightColumn(1/2)
    position absolute
    top 0
    right 0
    bottom 0
  +above('desktop+')
    rightColumn(3/5)

.press-me
  height 60px
  width 100%
  display flex
  justify-content center
  padding 20px 0
  +above('desktop')
    height 100px
    padding 32px 0
  &__image
    height 100%