.header
  padding normalPading smallPadding
  display flex
  justify-content center
  align-items center
  flex-direction column
  background-color red
  color white
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

  &__picture
    background-color white
    width 100px
    height 100px
    border-radius 50px
    +above('tablet')
      width 150px
      height 150px
      border-radius 75px
    +above('desktop')
      width 200px
      height 200px
      border-radius 100px

  &__credits
    font-size 21px
    font-weight normal
    text-align center
    padding-top 12px
    +above('tablet')
      padding-top 20px