.header
  padding normalPading smallPadding
  display flex
  justify-content space-evenly
  align-items center
  flex-direction row
  +above('tablet')
    flex-direction column
  +above('desktop')
    justify-content center
  background-color red
  color white
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

  &__logo
    width auto
    height 100%
    max-height 150px
    +above('tablet')
      max-height 175px
    +above('fablet')
      max-height 225px
    +above('desktop')
      max-height 300px
    &--static
      content: url('media/dls.gif')

    &:hover
      & .header
        background-color orange

  &__credits
    font-size 21px
    font-weight normal
    text-align center
    padding-top 12px
    +above('tablet')
      padding-top 20px