.profile
  padding normalPading smallPadding
  display flex
  justify-content center
  align-items center
  flex-direction column
  background-color red
  color white

  &__picture
    background-color white
    width 100px
    height 100px
    border-radius 50px
    +above('tablet')
      width 150px
      height 150px
      border-radius 75px
    +above('desktop')
      width 200px
      height 200px
      border-radius 100px

.teaser
  padding-top 16px
  +above('tablet')
    padding-top 24px
  +above('desktop')
    padding-top 40px

.credits
  font-size 16px
  text-align center
  padding-top 12px
  +above('tablet')
    padding-top 20px