@require 'reset.styl'

// base variables
red = #db0a40
smallPadding = 12px
normalPading = 20px

// requires
@require 'mixins.styl'
@require 'typography.styl'
@require 'base.styl'
@require 'layout.styl'
@require 'card.styl'
@require 'header.styl'
@require 'content.styl'
