@require 'reset.styl'

// responsive stuff and so
@require 'rupture'
rupture.scale = 0 540px 780px 1300px
rupture.scale-names = 'mobile' 'tablet' 'desktop' 'desktop+'

// base variables
red = #db0a40
smallPadding = 12px
normalPading = 20px

// requires
@require 'base.styl'
@require 'mixins.styl'
@require 'card.styl'
@require 'intro.styl'
@require 'content.styl'